<h1><%= @country.name%></h1>
<p>Description: <%= @country.description %></p>
<p>Date of Trip: <%= @country.date_of_trip %></p>
<p>Must-See Spots: <%= @country.must_see %></p>

<a href= "/countries/<%= @country.id %>/edit">Edit</a>
<form method="POST" action="/countries/<%=@country.id%>">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Entry">
</form>
